/* Base */
.b-customScroll {
	position: relative;
}
.b-customScroll-content {
	overflow: auto;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* IE 10+ */
}
.b-customScroll-content::-webkit-scrollbar {
	display: none;
	width: 0px;
	background: transparent; /* Chrome/Safari/Webkit */
}
.b-customScroll-xTrack {
	position: absolute;
	left: 0;
	right: 17px;
	bottom: 0;
	height: 17px;
}
.b-customScroll-xThumb {
	position: absolute;
	height: 17px;
	transition: top 50ms;
	background: black;
}
.b-customScroll-yTrack {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 17px;
	width: 17px;
}
.b-customScroll-yThumb {
	position: absolute;
	width: 17px;
	transition: top 50ms;
	background: black;
}

/* Example 1: scrollbars; */
.b-customScroll-xTrack,
.b-customScroll-yTrack {
	background: lightgray;
	border-radius: 10px;
	opacity: .3;
}
.b-customScroll-xTrack:hover,
.b-customScroll-yTrack:hover,
.b-customScroll-xTrack.m-active,
.b-customScroll-yTrack.m-active {
	opacity: 1;
	transition: opacity .3s;
}
.b-customScroll-xThumb,
.b-customScroll-yThumb {
	background: gray;
	border-radius: 10px;
}

/* Example 2: map */
.b-customScroll-track {
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 80px;
	height: 80px;
	background: lightgray;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}
.b-customScroll-thumb {
	position: absolute;
	width: 100%;
	height: 100px;
	background: gray;
	transition: top 50ms;
}